<div class='text-center'>
        <div class=''>
        <h1>Welcome to Webintpro!</h1>
    </div>
    <div class="">
            <div class=''>Search for Twitter user:</div>
            <div class=''>
                <input type='text' [(ngModel)]='searchString'/>
                <button type="button" class="btn btn-primary" (click)='getUsers(searchString)'><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
            
        </div>
</div>
<div class="siblings">
<div class='panel panel-primary w-30' *ngIf='twitterUsers && twitterUsers.length'>
    <div class='panel-body'>
        
        <div class='table-responsive'>
            <table class='table' *ngIf='twitterUsers && twitterUsers.length'>
                <thead>
                    <tr>
                        <th>img</th>
                        <th>Username</th>
                        <th>Full Name</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let user of twitterUsers' (click)='showUserTweets(user)'>
                        <td><img [src]="user.imageUrl"> </td>
                        <td>{{user.username}}</td>
                        <td>{{user.fullname}}</td>
                        
                    </tr>
                </tbody>
            </table>
            
  
            
        </div>
    </div>
</div>
<app-twitts-list></app-twitts-list>
</div>