.siblings{
    display: flex;
}

.navbar {
    position: relative;
}

.top-bar{
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center;
}


